.tab1 {
  position: relative;
  line-height: 28px;
  font-weight: 600;
}
.tab1Wrapper {
  position: absolute;
  height: calc(100% - 8px);
  width: 49.28%;
  top: 4px;
  right: 50%;
  bottom: 4px;
  left: 0.72%;
  border-radius: var(--br-2xs);
  background-color: var(--white1);
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-5xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.tab2 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.tab2Wrapper {
  position: absolute;
  height: calc(100% - 8px);
  width: 48.57%;
  top: 4px;
  right: 1.43%;
  bottom: 4px;
  left: 50%;
  border-radius: var(--br-2xs);
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-5xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--grey-201);
}
.twoTabSwitch {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--grey-901);
}
.prototypeActivitesTab {
  position: relative;
  width: 558px;
  height: 52px;
  flex-shrink: 0;
}
.booking {
  position: relative;
  line-height: 28px;
  mix-blend-mode: normal;
}
.all {
  width: 111.6px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.booking2 {
  position: relative;
  line-height: 28px;
  font-weight: 600;
  mix-blend-mode: normal;
}
.booking1 {
  border-bottom: 2px solid var(--green-5003);
  box-sizing: border-box;
  width: 111.6px;
  flex-shrink: 0;
  padding: var(--padding-5xs);
  cursor: pointer;
  color: var(--green-5003);
}
.allParent,
.booking1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.subTabActivities,
.tabsSubSwitch {
  display: flex;
  flex-direction: column;
}
.tabsSubSwitch {
  background-color: var(--color-gray-100);
  border-bottom: 1px solid var(--grey-801);
  box-sizing: border-box;
  width: 558px;
  align-items: center;
  justify-content: center;
}
.subTabActivities {
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  color: var(--grey-201);
}
.overlay,
.prototypeActivitesTabParent {
  position: absolute;
  display: flex;
  flex-direction: column;
}
.prototypeActivitesTabParent {
  top: 144px;
  left: 455px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-16xs);
}
.overlay {
  top: 0;
  left: 0;
  background-color: var(--color-gray-1000);
  width: 1440px;
  height: 795px;
  padding: var(--padding-5xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.messages {
  position: relative;
  background-color: var(--color-gray-100);
  width: 100%;
  height: 795px;
  overflow: hidden;
  text-align: left;
  font-size: var(--p1-medium3-size);
  color: var(--green-5003);
  font-family: var(--h31);
}
