.avatarIcon,
.d,
.peoplename {
  position: relative;
  flex-shrink: 0;
}
.avatarIcon {
  width: 40px;
  height: 40px;
}
.d,
.peoplename {
  line-height: 28px;
  display: flex;
  align-items: center;
}
.peoplename {
  font-weight: 600;
  width: 381px;
}
.d {
  color: var(--grey-201);
  text-align: right;
  width: 73px;
}
.peoplenameParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.dysonElectricals {
  font-weight: 500;
  color: var(--green-5003);
}
.reviewForJamesContainer1 {
  line-break: anywhere;
  width: 100%;
}
.reviewForJamesContainer {
  position: relative;
  line-height: 24px;
  display: none;
  align-items: center;
  width: 389px;
  flex-shrink: 0;
}
.icons16pxstar {
  position: relative;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  overflow: hidden;
}
.reviewForJamesBowenParent,
.starRating {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.reviewForJamesBowenParent {
  align-self: stretch;
  align-items: center;
  gap: var(--gap-2xs);
  font-size: var(--subcopy-medium3-size);
  color: var(--grey-201);
}
.avatarParent,
.frameParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-19xs);
}
.avatarParent {
  flex-direction: row;
  gap: var(--gap-13xs);
  color: var(--grey-01);
}
.imagesChild {
  position: relative;
  border-radius: var(--br-md);
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  object-fit: cover;
}
.images {
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-16xs);
}
.youveHeardThis {
  position: relative;
  line-height: 28px;
  display: flex;
  align-items: center;
  width: 558px;
}
.imagesParent {
  width: 558px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-13xs);
}
.div,
.iconseye {
  position: relative;
}
.iconseye {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.div {
  line-height: 155%;
  font-weight: 500;
}
.iconseyeParent {
  display: flex;
  align-items: center;
  gap: var(--gap-18xs);
}
.frameGroup,
.iconseyeParent,
.viewsLikes {
  flex-direction: row;
  justify-content: flex-start;
}
.frameGroup {
  flex: 1;
  display: flex;
  align-items: flex-start;
  gap: var(--gap-9xs);
}
.viewsLikes {
  width: 558px;
  display: none;
  align-items: center;
  gap: var(--gap-19xl);
}
.bottomChild {
  position: relative;
  border-top: 1px solid var(--grey-801);
  box-sizing: border-box;
  width: 559px;
  height: 1px;
  flex-shrink: 0;
}
.bookingsCard,
.bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: var(--gap-9xs);
}
.bookingsCard {
  width: 558px;
  justify-content: flex-start;
  gap: var(--gap-13xs);
}
.d1,
.peoplename1 {
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.peoplename1 {
  line-height: 24px;
  font-weight: 600;
  width: 381px;
}
.d1 {
  font-size: var(--p1-medium3-size);
  line-height: 28px;
  color: var(--grey-201);
  text-align: right;
  width: 73px;
}
.avatarGroup,
.images1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.avatarGroup {
  gap: var(--gap-13xs);
  font-size: var(--p1-bold1-size);
  color: var(--grey-01);
}
.images1 {
  gap: var(--gap-16xs);
}
.bottomInner {
  position: relative;
  border-top: 1px solid var(--grey-801);
  box-sizing: border-box;
  width: 559px;
  height: 1px;
  flex-shrink: 0;
  display: none;
}
.bookingsCardParent,
.messagesInner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.bookingsCardParent {
  flex-direction: column;
  gap: var(--gap-11xs);
}
.messagesInner {
  position: absolute;
  top: 253px;
  left: 447px;
  background-color: var(--color-gray-100);
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-5xs) var(--padding-3xl);
}
.tab1 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.tab1Wrapper {
  position: absolute;
  height: calc(100% - 8px);
  width: 48.57%;
  top: 4px;
  right: 50%;
  bottom: 4px;
  left: 1.43%;
  border-radius: var(--br-2xs);
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-5xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.tab2 {
  position: relative;
  line-height: 28px;
  font-weight: 600;
}
.tab2Wrapper {
  position: absolute;
  height: calc(100% - 8px);
  width: 49.28%;
  top: 4px;
  right: 0.72%;
  bottom: 4px;
  left: 50%;
  border-radius: var(--br-2xs);
  background-color: var(--white1);
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-5xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--green-5003);
}
.twoTabSwitch {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--grey-901);
}
.bookingTabMain {
  position: relative;
  width: 558px;
  height: 52px;
  flex-shrink: 0;
}
.tabSwitchChild {
  position: absolute;
  top: 44.5px;
  left: -0.5px;
  border-top: 1px solid var(--grey-801);
  box-sizing: border-box;
  width: 559px;
  height: 1px;
}
.booking {
  position: relative;
  line-height: 28px;
  font-weight: 600;
  mix-blend-mode: normal;
}
.all {
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 2px solid var(--green-5003);
  box-sizing: border-box;
  width: 186px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--green-5003);
}
.booking1 {
  position: relative;
  line-height: 28px;
  mix-blend-mode: normal;
}
.all1 {
  left: 186px;
  width: 186px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.all1,
.all2,
.tabSwitch {
  position: absolute;
  top: 0;
}
.all2 {
  left: 372px;
  width: 186px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.tabSwitch {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-100);
  overflow: hidden;
}
.reviewSubTab {
  position: relative;
  width: 558px;
  height: 45px;
  flex-shrink: 0;
  text-align: center;
}
.title {
  position: absolute;
  top: 144px;
  left: 455px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-16xs);
}
.messages {
  position: relative;
  background-color: var(--color-gray-100);
  width: 100%;
  height: 795px;
  overflow-y: auto;
  text-align: left;
  font-size: var(--p1-medium3-size);
  color: var(--grey-201);
  font-family: var(--h31);
}
