.img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-2xs) var(--br-2xs) 0 0;
  background-color: var(--grey-801);
}
.imgWrapper {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.avatarIcon {
  position: relative;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.businessName {
  position: relative;
  line-height: 24px;
  font-weight: 600;
}
.businessNameAndAvatar {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-18xs);
}
.icons16pxstar {
  position: relative;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  overflow: hidden;
}
.starRating {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.ratingNumber {
  position: relative;
  line-height: 20px;
}
.businessNameAndAvatarParent,
.ratings {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-18xs);
}
.ratings {
  flex-direction: row;
  align-items: center;
  font-size: var(--caption-regular1-size);
  color: var(--grey-201);
}
.businessNameAndAvatarParent {
  flex-direction: column;
  align-items: flex-start;
}
.jobCategory {
  align-self: stretch;
  position: relative;
  font-size: var(--caption-regular1-size);
  line-height: 20px;
  color: var(--grey-201);
}
.frameParent {
  gap: var(--gap-19xs);
}
.descriptionInner,
.frameParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.icons20pxplaceholder {
  position: relative;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  display: none;
}
.largeButtons {
  align-self: stretch;
  border-radius: var(--br-xs);
  background-color: var(--green-5003);
  border: 1px solid var(--green-5003);
  box-sizing: border-box;
  height: 28px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-7xl);
  align-items: center;
  justify-content: center;
  gap: var(--gap-16xs);
  text-align: center;
  font-size: var(--caption-regular1-size);
  color: var(--white1);
}
.description,
.promotions {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.description {
  align-self: stretch;
  border-radius: 0 0 var(--br-md) var(--br-md);
  background-color: var(--white1);
  display: flex;
  padding: var(--padding-5xs);
  gap: var(--gap-18xs);
}
.promotions {
  position: absolute;
  top: 566px;
  left: 1039px;
  border-radius: var(--br-2xs);
  box-shadow: var(--card1);
  width: 360px;
  height: 258px;
  overflow: hidden;
  display: none;
  text-align: left;
  font-size: var(--subcopy-medium3-size);
  color: var(--grey-01);
  font-family: var(--h31);
}
