.jobDetails {
  position: absolute;
  top: calc(50% - 16px);
  left: 32px;
  line-height: 28px;
  font-weight: 600;
}
.iconsclose {
  position: absolute;
  top: calc(50% - 12px);
  right: 32px;
  width: 24px;
  height: 24px;
  overflow: hidden;
  cursor: pointer;
}
.label,
.modalTitle {
  position: absolute;
  top: 0;
  left: 0;
}
.modalTitle {
  height: 10.16%;
  width: 100%;
  right: 0;
  bottom: 89.84%;
  background-color: var(--white1);
  overflow: hidden;
  font-size: var(--h31-size);
}
.label {
  line-height: 28px;
  font-weight: 500;
}
.labelContainer {
  align-self: stretch;
  position: relative;
  height: 28px;
  flex-shrink: 0;
  display: none;
}
.iconsplaceholder {
  position: absolute;
  top: 12px;
  right: 8px;
  width: 24px;
  height: 24px;
  display: none;
}
.userInput {
  position: absolute;
  width: calc(100% - 16px);
  top: 10px;
  left: 8px;
  line-height: 28px;
  display: inline-block;
}
.dotChild {
  position: relative;
  width: 8px;
  height: 8px;
  flex-shrink: 0;
}
.dot {
  position: absolute;
  top: 20px;
  left: 12px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-17xs);
}
.baseField {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--grey-100);
  border: 1px solid var(--grey-701);
  box-sizing: border-box;
  height: 48px;
  flex-shrink: 0;
  overflow: hidden;
  color: var(--grey-401);
}
.div,
.thisIsA {
  position: absolute;
  top: 0;
  line-height: 24px;
}
.thisIsA {
  left: 0;
}
.div {
  right: 0;
  text-align: right;
}
.helperTextContainer {
  align-self: stretch;
  position: relative;
  height: 24px;
  flex-shrink: 0;
  display: none;
  font-size: var(--subcopy-medium3-size);
}
.input {
  position: absolute;
  height: 7.62%;
  width: 87.48%;
  top: 11.43%;
  right: 6.26%;
  bottom: 80.95%;
  left: 6.26%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-19xs);
  color: var(--grey-201);
}
.avatarIcon {
  position: relative;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.peoplename {
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.avatarParent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-16xs);
}
.checkbox {
  position: relative;
  border-radius: var(--br-2xs);
  background-color: var(--grey-100);
  border: 1px solid var(--grey-701);
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  cursor: pointer;
}
.contacts {
  width: 447px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-12xl);
}
.checkbox1 {
  position: relative;
  border-radius: var(--br-2xs);
  background-color: var(--grey-100);
  border: 1px solid var(--grey-701);
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.avatarChild {
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
}
.ac {
  position: absolute;
  top: 6px;
  left: 8px;
  line-height: 20px;
  font-weight: 500;
}
.peoplename6 {
  position: relative;
  font-size: var(--p1-medium3-size);
  line-height: 28px;
  font-weight: 500;
  color: var(--grey-102);
  text-align: left;
}
.contacts6,
.contactsParent {
  display: flex;
  justify-content: flex-start;
}
.contacts6 {
  width: 447px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-12xl);
  text-align: center;
  font-size: var(--caption-regular1-size);
  color: var(--grey-201);
}
.contactsParent {
  position: absolute;
  top: 144px;
  left: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-9xs);
  color: var(--grey-102);
}
.icons20pxplaceholder {
  position: relative;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  display: none;
}
.label1 {
  position: relative;
  line-height: 24px;
}
.largeButtons {
  position: absolute;
  top: 564.5px;
  left: 32.5px;
  border-radius: var(--br-xs);
  background-color: var(--grey-601);
  width: 447px;
  height: 44px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-7xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-16xs);
  text-align: center;
  font-size: var(--subcopy-medium3-size);
  color: var(--grey-21);
}
.categories {
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--white1);
  box-shadow: var(--popup);
  width: 511px;
  height: 630px;
  flex-shrink: 0;
  overflow: hidden;
  text-align: left;
  font-size: var(--p1-medium3-size);
  color: var(--grey-01);
  font-family: var(--h31);
}
