.avatarIcon {
  position: relative;
  width: 56px;
  height: 56px;
  flex-shrink: 0;
}
.dysonElectricals {
  position: relative;
  line-height: 28px;
  font-weight: 600;
}
.guarantee1Icon {
  position: relative;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  overflow: hidden;
}
.dysonElectricalsParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-18xs);
}
.applianceRepair {
  font-weight: 500;
}
.applianceRepair,
.memberSince2014 {
  position: relative;
  font-size: var(--subcopy-medium3-size);
  line-height: 24px;
  color: var(--grey-201);
}
.avatarParent,
.frameDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.avatarParent {
  flex: 1;
  flex-direction: row;
  gap: var(--gap-13xs);
}
.rookie {
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 43px;
  overflow: hidden;
  display: none;
}
.ambassadorChild,
.ambassadorItem {
  position: absolute;
  top: 6px;
  left: 1px;
  width: 24px;
  height: 24px;
}
.ambassadorItem {
  top: 31px;
  left: 7px;
  width: 12px;
  height: 12px;
}
.ambassador1,
.ambassadorInner {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 5px;
}
.ambassador1 {
  top: 8.5px;
  left: 5.5px;
  line-height: 250%;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 6px;
}
.vectorIcon {
  position: absolute;
  top: 22px;
  left: 9.57px;
  border-radius: var(--br-5xs);
  width: 11px;
  height: 4px;
}
.ambassador,
.awards {
  width: 26px;
  height: 43px;
  overflow: hidden;
}
.ambassador {
  position: absolute;
  top: 0;
  left: 0;
}
.awards {
  position: relative;
  flex-shrink: 0;
  text-align: center;
  font-size: var(--font-size-6xs);
  color: var(--grey-9003);
}
.frameContainer {
  width: 558px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-14xl);
}
.frameChild {
  border-top: 1px solid var(--grey-801);
  box-sizing: border-box;
  width: 559px;
  height: 1px;
  flex-shrink: 0;
}
.b,
.frameChild,
.ratings {
  position: relative;
}
.b {
  letter-spacing: -0.02em;
  line-height: 40px;
}
.ratings {
  font-size: var(--p1-medium3-size);
  line-height: 28px;
  color: var(--grey-201);
}
.parent {
  flex-direction: column;
  justify-content: flex-start;
}
.frameGroup,
.frameParent2,
.parent {
  display: flex;
  align-items: center;
}
.frameParent2 {
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-7xl);
  text-align: center;
  font-size: var(--h3-bold1-size);
}
.frameGroup {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.icons20pxplaceholder {
  position: relative;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  display: none;
}
.label {
  position: relative;
  line-height: 24px;
}
.largeButtons {
  border-radius: var(--br-xs);
  background-color: var(--green-5003);
  width: 420px;
  height: 44px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-7xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-16xs);
}
.share {
  position: relative;
  line-height: 28px;
}
.iconsshare {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.frameWrapper,
.shareParent {
  display: flex;
  align-items: center;
}
.shareParent {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-18xs);
}
.frameWrapper {
  border-radius: var(--br-xs);
  background-color: var(--white1);
  border: 1px solid var(--green-5003);
  box-sizing: border-box;
  width: 122px;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-5xs) var(--padding-xl);
  justify-content: center;
  font-size: var(--p1-medium3-size);
  color: var(--green-5003);
}
.frameParent,
.largeButtonsParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
  text-align: center;
  font-size: var(--subcopy-medium3-size);
  color: var(--white1);
}
.frameParent {
  flex-direction: column;
  text-align: left;
  font-size: var(--h31-size);
  color: var(--grey-01);
  font-family: var(--h31);
}
