.avatarIcon {
  position: relative;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.devonLane {
  position: relative;
  line-height: 24px;
  font-weight: 600;
}
.avatarParent,
.frameWrapper {
  display: flex;
  justify-content: center;
}
.avatarParent {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-16xs);
}
.frameWrapper {
  border-radius: var(--br-xs);
  background-color: var(--primary-1001);
  border: 1px solid var(--grey-901);
  box-sizing: border-box;
  width: 461px;
  flex-direction: column;
  padding: var(--padding-3xs) var(--padding-lg) var(--padding-3xs)
    var(--padding-xs);
  align-items: flex-start;
}
.uploadAnImage {
  position: relative;
  line-height: 28px;
  font-weight: 600;
}
.boundary {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--grey-801);
  border: 1px dashed var(--grey-601);
  box-sizing: border-box;
}
.iconsadd,
.imageAreaIcon {
  position: absolute;
  overflow: hidden;
}
.imageAreaIcon {
  height: 98%;
  width: calc(100% - 2px);
  top: 1%;
  right: 1px;
  bottom: 1%;
  left: 1px;
  border-radius: var(--br-2xs);
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.iconsadd {
  top: calc(50% - 11.5px);
  left: calc(50% - 11.5px);
  width: 24px;
  height: 24px;
  display: none;
}
.imageFrame {
  align-self: stretch;
  flex: 1;
  position: relative;
  z-index: 0;
}
.addcancelCircleIcon {
  position: absolute;
  margin: 0 !important;
  height: 24%;
  top: 83%;
  right: -12px;
  bottom: -7%;
  max-height: 100%;
  width: 24px;
  flex-shrink: 0;
  z-index: 1;
}
.uploadImage,
.uploadImageParent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.uploadImage {
  width: 103px;
  height: 111px;
  flex-shrink: 0;
  align-items: center;
  position: relative;
}
.uploadImageParent {
  align-items: flex-start;
  gap: var(--gap-11xs);
}
.addSupportingImages {
  position: relative;
  line-height: 24px;
}
.frameGroup,
.uploadAnImageParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameGroup {
  gap: var(--gap-13xs);
  text-align: center;
  font-size: var(--subcopy-medium3-size);
}
.uploadAnImageParent {
  gap: var(--gap-11xs);
  font-size: var(--p1-medium3-size);
  color: var(--grey-201);
}
.icons20pxplaceholder {
  position: relative;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  display: none;
}
.largeButtons {
  border-radius: var(--br-xs);
  background-color: var(--green-5003);
  width: 461px;
  height: 48px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-7xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-16xs);
  text-align: center;
  color: var(--white1);
}
.frameParent {
  position: absolute;
  top: 156px;
  left: 552px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  text-align: left;
  font-size: var(--subcopy-medium3-size);
  color: var(--grey-01);
  font-family: var(--h31);
}
