.jobDetails {
  position: absolute;
  top: 0;
  left: 24px;
  line-height: 28px;
  font-weight: 600;
  color: var(--grey-102);
}
.budget,
.location,
.uploadImages {
  position: absolute;
  top: 60px;
  left: 24px;
  line-height: 28px;
  font-weight: 500;
}
.budget,
.uploadImages {
  top: 120px;
}
.uploadImages {
  top: 180px;
}
.progressBarIcon {
  position: absolute;
  top: 8px;
  left: 0;
  width: 12px;
  height: 192px;
}
.postAJobProgressTracker {
  position: absolute;
  top: 164px;
  left: 261px;
  width: 145px;
  height: 208px;
  text-align: left;
  font-size: var(--p1-medium3-size);
  color: var(--grey-21);
  font-family: var(--h31);
}
