.faqParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--p1-bold1-size);
  color: var(--grey-01);
  font-family: var(--h31);
}
