.peoplename {
  position: relative;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 142px;
  flex-shrink: 0;
}
.avatarname,
.avatarnameWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.avatarnameWrapper {
  position: absolute;
  top: 0;
  left: 24px;
  width: 380px;
  height: 56px;
  flex-direction: column;
  padding: var(--padding-5xs);
  box-sizing: border-box;
  align-items: flex-start;
}
.avatarIcon {
  position: relative;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.peoplename1 {
  flex: 1;
  position: relative;
  line-height: 24px;
  font-weight: 600;
  height: 19px;
}
.namedate,
.peoplename1,
.yesterday {
  display: flex;
  align-items: center;
}
.yesterday {
  position: relative;
  font-size: var(--caption-regular1-size);
  line-height: 20px;
  font-weight: 500;
  color: var(--grey-21);
  text-align: right;
  height: 15px;
  flex-shrink: 0;
}
.namedate {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.citiessummary {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  opacity: 0.7;
  mix-blend-mode: normal;
}
.div {
  position: relative;
  line-height: 20px;
  font-weight: 600;
}
.chatCounter {
  border-radius: var(--br-md);
  background-color: var(--green-5003);
  display: none;
  flex-direction: column;
  padding: 0 var(--padding-5xs);
  align-items: center;
  justify-content: center;
  text-align: right;
  font-size: var(--caption-regular1-size);
  color: var(--white1);
}
.msgCounter {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  font-size: var(--subcopy-medium3-size);
  color: var(--grey-102);
}
.avatarParent,
.chat,
.namedateParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.namedateParent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-18xs);
}
.avatarParent,
.chat {
  flex-direction: row;
}
.avatarParent {
  flex: 1;
  padding: var(--padding-5xs);
  gap: var(--gap-16xs);
}
.chat {
  align-self: stretch;
}
.chatCounter2,
.chatParent {
  display: flex;
  flex-direction: column;
}
.chatCounter2 {
  border-radius: var(--br-md);
  background-color: var(--green-5003);
  padding: 0 var(--padding-5xs);
  align-items: center;
  justify-content: center;
  text-align: right;
  font-size: var(--caption-regular1-size);
  color: var(--white1);
}
.chatParent {
  position: absolute;
  top: 124px;
  left: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xs);
  color: var(--grey-01);
}
.label {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 28px;
  font-weight: 500;
}
.labelContainer {
  align-self: stretch;
  position: relative;
  height: 28px;
  flex-shrink: 0;
  display: none;
}
.iconsplaceholder {
  position: absolute;
  top: 12px;
  right: 8px;
  width: 24px;
  height: 24px;
  display: none;
}
.userInput {
  position: absolute;
  width: calc(100% - 16px);
  top: 10px;
  left: 8px;
  line-height: 28px;
  display: inline-block;
}
.dotChild {
  position: relative;
  width: 8px;
  height: 8px;
  flex-shrink: 0;
}
.dot {
  position: absolute;
  top: 20px;
  left: 12px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-17xs);
}
.baseField {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--grey-100);
  border: 1px solid var(--grey-701);
  box-sizing: border-box;
  height: 48px;
  flex-shrink: 0;
  overflow: hidden;
  color: var(--grey-401);
}
.div6,
.thisIsA {
  position: absolute;
  top: 0;
  line-height: 24px;
}
.thisIsA {
  left: 0;
}
.div6 {
  right: 0;
  text-align: right;
}
.helperTextContainer {
  align-self: stretch;
  position: relative;
  height: 24px;
  flex-shrink: 0;
  display: none;
  font-size: var(--subcopy-medium3-size);
}
.input {
  position: absolute;
  top: 56px;
  left: 24px;
  width: 380px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-19xs);
  font-size: var(--p1-medium3-size);
  color: var(--grey-201);
}
.messageChat {
  position: absolute;
  top: 0;
  left: 221px;
  background-color: var(--white1);
  border-right: 1px solid var(--grey-801);
  box-sizing: border-box;
  width: 428px;
  height: 795px;
  overflow: hidden;
  text-align: left;
  font-size: var(--p1-bold1-size);
  color: var(--grey-9003);
  font-family: var(--h31);
}
