.otpInputIcon {
  position: relative;
  border-radius: var(--br-xs);
  width: 66.8px;
  height: 48px;
  flex-shrink: 0;
}
.otpInputParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.s {
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.frameParent {
  position: absolute;
  top: 212px;
  left: 837px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs);
  text-align: right;
  font-size: var(--p1-medium3-size);
  color: var(--grey-201);
  font-family: var(--h31);
}
