.iconsadd {
  position: relative;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  overflow: hidden;
}
.label {
  position: relative;
  line-height: 24px;
}
.iconsadd1 {
  position: relative;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  overflow: hidden;
  display: none;
}
.largeButtons {
  border-radius: var(--br-xs);
  border: 1px solid var(--green-5003);
  box-sizing: border-box;
  width: 558px;
  height: 48px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-7xl);
  align-items: center;
  justify-content: center;
  gap: var(--gap-16xs);
  text-align: center;
  color: var(--green-5003);
}
.frameParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  text-align: left;
  font-size: var(--subcopy-medium3-size);
  color: var(--grey-102);
  font-family: var(--h31);
}
