.dealOfTheDayChild {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-2xs) var(--br-2xs) 0 0;
  max-width: 100%;
  overflow: hidden;
  height: 130px;
  flex-shrink: 0;
  object-fit: cover;
}
.avatarIcon {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.businessName1 {
  position: relative;
  line-height: 24px;
  font-weight: 600;
}
.avatarName {
  width: 336px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-18xs);
}
.icons16pxstar {
  display: none;
}
.icons16pxstar,
.icons16pxstar3 {
  position: relative;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  overflow: hidden;
}
.starRating {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.ratingNumber {
  position: relative;
  line-height: 20px;
}
.businessName,
.professionalCategory,
.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.rating {
  justify-content: flex-end;
  gap: var(--gap-19xs);
  font-size: var(--caption-regular1-size);
  color: var(--grey-201);
}
.businessName,
.professionalCategory {
  align-self: stretch;
}
.businessName {
  justify-content: space-between;
  font-size: var(--subcopy-medium3-size);
  color: var(--grey-01);
}
.professionalCategory {
  padding: 0 var(--padding-8xs);
  justify-content: flex-start;
  text-align: right;
}
.iconsclose {
  position: relative;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  overflow: hidden;
  display: none;
}
.skills {
  border-radius: var(--br-5xl);
  background-color: var(--grey-901);
  flex-direction: row;
  padding: 0 var(--padding-5xs);
  align-items: center;
  gap: var(--gap-18xs);
}
.professionalsPills,
.skills {
  display: flex;
  justify-content: center;
}
.col,
.professionalsPills,
.professionalsPills3,
.tags {
  flex-direction: row;
  align-items: center;
}
.professionalsPills3 {
  display: none;
  justify-content: center;
}
.col,
.tags {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-18xs);
}
.col {
  flex-direction: column;
  align-items: flex-start;
}
.countdown {
  position: relative;
  line-height: 20px;
  font-weight: 600;
  color: var(--error-101);
  text-align: right;
}
.offerDeadline {
  align-self: stretch;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--grey-102);
}
.merge {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-16xs);
}
.button {
  position: relative;
  line-height: 100%;
  font-weight: 600;
}
.smallButtons {
  align-self: stretch;
  border-radius: var(--br-2xs);
  border: 1px solid var(--green-5003);
  box-sizing: border-box;
  height: 32px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-sm);
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--subcopy-medium3-size);
  color: var(--green-5003);
}
.container,
.infoSection {
  align-self: stretch;
  flex-direction: column;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-16xs);
}
.infoSection {
  background-color: var(--white1);
  padding: var(--padding-5xs);
}
.dealOfTheDay,
.dealOfTheDayParent,
.infoSection {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.dealOfTheDay {
  border-radius: var(--br-2xs);
  box-shadow: var(--card1);
  width: 438px;
  flex-shrink: 0;
  overflow: hidden;
  flex-direction: column;
}
.dealOfTheDayParent {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-6xs);
  text-align: left;
  font-size: var(--caption-regular1-size);
  color: var(--grey-201);
  font-family: var(--h31);
}
