.jobDetails {
  position: absolute;
  top: calc(50% - 16px);
  left: 32px;
  line-height: 28px;
  font-weight: 600;
  display: none;
}
.iconsclose,
.modalTitle {
  position: absolute;
  overflow: hidden;
}
.iconsclose {
  top: calc(50% - 12px);
  right: 32px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.modalTitle {
  height: 15.13%;
  width: 100%;
  top: -0.12%;
  right: 0.1%;
  bottom: 84.99%;
  left: -0.1%;
  background-color: var(--white1);
  text-align: left;
}
.illustrationsIcon {
  position: relative;
  width: 124px;
  height: 123px;
  flex-shrink: 0;
  overflow: hidden;
}
.splitPayRequest {
  position: relative;
  line-height: 28px;
  font-weight: 600;
  display: inline-block;
  width: 294px;
}
.makeYourOwn {
  position: relative;
  font-size: var(--subcopy-medium3-size);
  line-height: 24px;
  color: var(--grey-201);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 253px;
}
.illustrationsParent,
.splitPayRequestSentParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-18xs);
}
.illustrationsParent {
  position: absolute;
  height: 47.99%;
  width: 57.53%;
  top: 22.1%;
  right: 21.23%;
  bottom: 29.91%;
  left: 21.23%;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.icons20pxplaceholder {
  position: relative;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  display: none;
}
.label {
  position: relative;
  line-height: 24px;
}
.largeButtons {
  position: absolute;
  height: 10.4%;
  width: 87.48%;
  top: 78.13%;
  right: 6.36%;
  bottom: 11.47%;
  left: 6.16%;
  border-radius: var(--br-xs);
  background-color: var(--green-5003);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-7xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-16xs);
  cursor: pointer;
  font-size: var(--subcopy-medium3-size);
  color: var(--white1);
}
.categories {
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--white1);
  box-shadow: var(--popup);
  width: 511px;
  height: 423px;
  flex-shrink: 0;
  overflow: hidden;
  text-align: center;
  font-size: var(--h31-size);
  color: var(--grey-01);
  font-family: var(--h31);
}
